<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <!-- [formGroup]
     sirve para agrupar los controles del formulario y
     gestionar su estado y validación de manera más sencilla.

    (ngSubmit) es un evento que se dispara al enviar el formulario,
    llamando al método onSubmit() definido en el componente.
    -->

    <!-- Formulario de registro de usuario -->
    <h2>Registrarse</h2>

    <div class="form-group">
      <label for="name"> Nombre: </label>

      <input type="text" id="name" formControlName="name" />

      <!-- Verificaciones:
      - required significa que el campo es obligatorio
      - touched indica si el usuario se posicionó en el campo y luego salió de él sin escribir, muestra mensaje de error.
      - minlength verifica que el nombre tenga al menos 2 caracteres
      -->
      @if (registerForm.get('name')?.errors?.['required']
        && registerForm.get('name')?.touched) {
      <div class="error-message text-danger small">El nombre es requerido</div>
      } @if (registerForm.get('name')?.errors?.['minlength']) {
      <div class="error-message text-danger small">El nombre debe tener al menos 2 caracteres</div>
      }
    </div>

    <div class="form-group">
      <label for="email"> Email: </label>

      <input type="email" id="email" formControlName="email" />

      <!-- email es para verificar que cumpla el formato de email
      (ver en el componente)-->
      @if (registerForm.get('email')?.errors?.['required']
        && registerForm.get('email')?.touched) {
      <div class="error-message text-danger small">El email es requerido</div>
      } @if (registerForm.get('email')?.errors?.['email']) {
      <div class="error-message text-danger small">Ingrese un email válido</div>
      }
    </div>

    <div class="form-group">
      <label for="password"> Contraseña: </label>

      <input type="password" id="password" formControlName="password" />

      @if (registerForm.get('password')?.errors?.['required']
        && registerForm.get('password')?.touched) {
      <div class="error-message text-danger small">La contraseña es requerida</div>
      } @if (registerForm.get('password')?.errors?.['minlength']) {
      <div class="error-message text-danger small">
        La contraseña debe tener al menos 6 caracteres
      </div>
      }
    </div>

    <div class="form-group">
      <label for="confirmPassword"> Confirmar Contraseña: </label>

      <input type="password" id="confirmPassword" formControlName="confirmPassword" />

      <!-- mismatch es para verificar que las contraseñas coincidan
      registerForm.errors accede a los errores a nivel de formulario completo
      El operador ?. (encadenamiento opcional) se usa para acceder de forma segura a la propiedad 'mismatch'
      El mensaje "Las contraseñas no coinciden" se muestra cuando la validación falla

      -->
      @if (registerForm.get('confirmPassword')?.errors?.['required'] &&
      registerForm.get('confirmPassword')?.touched) {
      <div class="error-message text-danger small">La confirmación de contraseña es requerida</div>
      } @if (registerForm.errors?.['mismatch']) {
      <div class="error-message text-danger small">Las contraseñas no coinciden</div>
      }
    </div>

    <!-- <button type="submit" [disabled]="registerForm.invalid"> Registrar </button> -->
  </form>
</div>
