<div class="min-vh-100 d-flex justify-content-center align-items-center bg-dark">
  <!-- Si no estamos en la ruta de registro, mostramos el botón -->
  @if (!isRegisterRoute) {
  <div class="">
    <button (click)="navigateToRegister()" class="btn btn-primary px-4 py-2"> Registrarse </button>
  </div>
  }

  <!-- Aquí se cargará el componente de registro de forma lazy -->
  <router-outlet></router-outlet>
</div>

<!-- Estilos de Bootstrap utilizados:
min-vh-100: altura mínima del 100% de la ventana
d-flex: display flex
justify-content-center: centra horizontalmente
align-items-center: centra verticalmente
bg-dark: fondo oscuro


btn btn-primary: estilos para el botón primario
px-4: padding horizontal de 4 unidades
py-2: padding vertical de 2 unidades
-->
